<!-- Validation failure messages -->
<% if @bookmarked.errors.any? %>
  <% @bookmarked.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Bookmarked</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_bookmarked" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for entree_id -->
      <div class="form-group">
        <label for="entree_id" class="control-label">
          Entree
        </label>

        <%= select_tag(:entree_id, options_from_collection_for_select(Entree.all, :id, :dish_id, @bookmarked.entree_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Bookmarked
      </button>
      or
      <a href="/bookmarkeds">Cancel</a>
    </form>
  </div>
</div>
